body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}


.out-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 30, 30);
    padding: 10px 0;
}
.out-heading h1{
    font-size: 20px;
}

.in-heading {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}


.in-button {
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
}


.main-div {
    display: flex;
    width: 100%;
}


.main-leftBar {
    min-height: 100vh;
    height: auto;
    width: 18%;
    background-color: rgb(42, 151, 247);
    padding-top: 10px;
}

.main-leftBar h1 {
    margin-left: 10px;
}

.main-button {
    all: unset;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid rgb(126, 4, 4);
    display: block;
    width: 90%;
    margin-left: 10px;
}


.main-rightBar {
    width: 82%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.img-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.rightbar-img {
    width: 28%;
    border-radius: 10px;
}


.footer-div {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(83, 73, 73);
    margin-top: 20px;
}
.footer-div h1{
    font-size: 14px;
    margin: 0;
}
