#head{
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
     background-color: yellow;
    height: 40px;
    margin: 0px;

   
}
button{
    background-color: yellow;

    margin-left: 20px;border: none;
}
img{
    height: 150px;
    display: block;
      margin-left: auto;
  margin-right: auto;
}