
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
}
.back-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
header{
    position : fixed;
    top: 15px;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .lg{
    font-size: 3rem;
    font-weight: bold;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}
header nav ul li a::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s;
}
header nav ul li:hover::after{
    width: 100%;
}
header nav ul li a:hover{
    color: #ddccc4;
}