 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #0e0e0e;
   
}
html{
    color: wheat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    width: 100%;

}
.view-1{
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 80%;
        object-fit: cover;
    }
    h1{
      
        font-weight: 100;
        font-size: 3rem;
        text-align: center;
    }
    p{
        
        text-align: center;
        line-height: 1.3;
        font-weight: 100;
        font-size: 1rem;
        margin: 0.8rem 0;
        opacity: 0.4;
        br{
            display: none;
        }
        
    };
}


.view-2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
   
    
    .marqee{
        display: flex;
       
        width: 100%;
        overflow: hidden;
        position: relative;
        
        &::before{
            content: "";
            height: 100%;
            width: 50%;
            position: absolute;
            top: 0;
            right: 0;
            background-image: linear-gradient(to left , #0e0e0e, transparent);
        }
        &::after{
            content: "";
            height: 100%;
            width: 50%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to right,#0e0e0e,transparent);
        }

      
        .text{

            display: flex;
            padding: 0 1rem;
            gap: 1.6rem;
            animation: marquee 10s linear infinite both;
            p{
                font-size: 2rem;
                font-weight: 200;
            }
        }
    }
}
@keyframes marquee {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media (min-width:1080px){
    html{
        font-size: clamp(16px,1vw , 20px);
    }
    .view-1{
        img{
            width: 42%;
        }
        h1{
            font-size: 7rem;
        }
        p{
            font-size: 2rem;
            br{
                display: block;
            }
        }
    }
    .view-2{
        .marqee{
        width: 40%;
    }
}
}